* {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    color: #3c4043;
}
.main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

img {
    object-fit: cover;
    height: 100vh;
    flex-grow: 1;
}

.right-content {
    display: flex;
    flex-wrap: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5em;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
}

.form {
    display: flex;
    flex-wrap: row wrap;
    padding: 5em;
}

label, input {
    padding: 1em;
    margin: 1em;
    border-radius: 0.25rem;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}